[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
openai = "*"
flask-socketio = "*"
gevent-websocket = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.11"
