{% extends "base.html" %}
{% block body %}
<div class="ChatWindow">

    <div class="ChatItem ChatItem--customer">
        <div class="ChatItem-meta">
            <div class="ChatItem-avatar">
                <img class="ChatItem-avatarImage" src="../static/img/openai.png">
            </div>
        </div>
        <div class="ChatItem-chatContent">
            <div class="ChatItem-chatText">Muy buenas cocktelero, ¿en qué puedo ayudarte?</div>
            <div class="ChatItem-timeStamp"><strong>Chat Bot</strong> • Today 05:49</div>
        </div>
    </div>

    <div class="ChatItem ChatItem--expert">
        <div class="ChatItem-meta">
            <div class="ChatItem-avatar">
                <img class="ChatItem-avatarImage" src="../static/img/tck.png">
            </div>
        </div>
        <div class="ChatItem-chatContent">
            <div class="ChatItem-chatText">hi there!</div>
            <div class="ChatItem-chatText">i'd be happy to help you!</div>
            <div class="ChatItem-chatText">just to make sure, have you tried pressing the physical volume button on the
                side to make sure the volume is all the way up?</div>
            <div class="ChatItem-timeStamp"><strong>Me</strong> • Today 05:49</div>
        </div>
    </div>

    <div class="ChatInput is-hidey">
        <div class="ChatInput-input" contenteditable="true" placeholder="Type your message here..."></div>
    </div>
    {% endblock %}