{% extends "base.html" %}
{% block body %}
<div class="new-chat">
    <button>Nuevo chat</button>
</div>
<div class="ChatWindow">

    <div class="ChatItem ChatItem--customer">
        <div class="ChatItem-meta">
            <div class="ChatItem-avatar">
                <img class="ChatItem-avatarImage" src="static/img/openai.png">
            </div>
        </div>
        <div class="ChatItem-chatContent">
            <div class="ChatItem-chatText">Muy buenas cocktelero, ¿en qué puedo ayudarte?</div>
            <div class="ChatItem-timeStamp"><strong>Chat Bot</strong></div>
        </div>
    </div>

    <div class="ChatInput is-hidey">
        <div class="ChatInput-input" contenteditable="true" placeholder="Escribe tu mensaje..."></div>
    </div>
    {% endblock %}